div.alert{
  ul{
    list-style-type: none;
    li{
      div{
        margin:15px 0;
        a{
          color:black;
        }
        img.image{

          width:50px;
          height:50px;
        }
      }
    }
  }
}
div.back{
  clear: both;
}