div.alert ul {
  list-style-type: none; }
  div.alert ul li div {
    margin: 15px 0; }
    div.alert ul li div a {
      color: black; }
    div.alert ul li div img.image {
      width: 50px;
      height: 50px; }

div.back {
  clear: both; }

/*# sourceMappingURL=adminFiles.css.map */
