$backgroundColor : #00a551;
$aColor:white;
body{
  margin: 30px 0;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  div.wrapper{
    border: 1px solid $backgroundColor;
    border-radius: 25px;
    padding: 30px 30px;
    background-color: $backgroundColor;
    div.btn{
      overflow: hidden;
      div{
        img{
          height: 250px;
          width: 250px;
          background: no-repeat center center;
          background-size: contain;
        }
      }
    }
      a{
        color:$aColor;
      }

  }
}