.tableCells, body div.row.orders table thead th, body div.row.orders table tbody tr td {
  width: 14%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center; }

.flexBox, body div.row div.aboutUs div.myRightBar, body div.row div.myCategory, body div.row div.myColumnOffer, body section.info {
  display: -webkit-flex;
  align-items: center;
  justify-content: center; }

body {
  color: white;
  font-size: 1.7em; }
  body div.scrollTop {
    display: none;
    cursor: pointer;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 10px;
    background: url("../img/arrowUp.png") no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 99999; }
  body nav.myNavbar {
    background-color: grey;
    margin-bottom: 0;
    height: 84px; }
    body nav.myNavbar a.navbar-brand {
      margin: 10px 0;
      padding: 0;
      width: 200px;
      height: 60px; }
      body nav.myNavbar a.navbar-brand img {
        width: 100%;
        height: 100%; }
    body nav.myNavbar div.collapse {
      width: 70%; }
      body nav.myNavbar div.collapse ul.myUl {
        padding: 10px; }
        body nav.myNavbar div.collapse ul.myUl li {
          border: 2px solid grey;
          border-radius: 10px; }
          body nav.myNavbar div.collapse ul.myUl li:hover {
            border: 2px solid #faa628;
            background-color: #5cb85c; }
          body nav.myNavbar div.collapse ul.myUl li a {
            padding: 20px;
            font-size: 1.8em;
            text-align: center;
            color: white; }
  body div.jumbotron {
    height: 725px; }
  body div.myStrip {
    height: 63px;
    padding: 0;
    background: url("../img/strip.png") repeat-x;
    background-position: center center;
    background-size: ""; }
  body div.myMiddle {
    padding: 0;
    text-align: center; }
  body div.row div.aboutUs {
    border-bottom: 5px solid #faa628;
    padding: 0; }
    body div.row div.aboutUs div.myRoadImage {
      min-height: 300px; }
    body div.row div.aboutUs div.myRightBar {
      background-color: #00a551;
      min-height: 300px;
      flex-direction: column; }
      body div.row div.aboutUs div.myRightBar p.text-justify {
        text-indent: 1.5em; }
  body div.row div.myCategory {
    min-height: 800px; }
    body div.row div.myCategory div.modal div.modal-content {
      background-color: #00a551; }
    body div.row div.myCategory div.myColumn {
      box-sizing: border-box;
      padding: 25px 25px;
      margin: 20px 20px;
      min-height: 250px;
      background-color: green; }
      body div.row div.myCategory div.myColumn h2 {
        margin: 0; }
      body div.row div.myCategory div.myColumn p.text-center {
        margin-bottom: 0; }
        body div.row div.myCategory div.myColumn p.text-center :before {
          content: '';
          display: block;
          width: 99px;
          height: 122px;
          float: left;
          margin-right: 10px;
          background: url("../img/jablko.png") no-repeat;
          background-position: center center;
          background-size: contain; }
  body div.row div.myMiddle h2 {
    line-height: 63px;
    color: #faa628;
    margin: 0;
    font-size: 2.4em; }
    body div.row div.myMiddle h2.header-color {
      color: #5cb85c; }
  body div.row div.myColumnOffer {
    min-height: 600px;
    flex-wrap: wrap; }
    body div.row div.myColumnOffer div.myOfferItem {
      position: relative;
      width: 250px;
      height: 250px;
      margin: 20px; }
      body div.row div.myColumnOffer div.myOfferItem p {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    body div.row div.myColumnOffer div.modal-content {
      background-color: #00a551; }
  body div.row.orders {
    background-color: green;
    border-bottom: 10px solid #58595B;
    padding: 20px 0; }
    body div.row.orders h2.text-center {
      margin: 0; }
    body div.row.orders h2 {
      font-size: 1.8em;
      margin: 20px 0 30px 0; }
    body div.row.orders div.myIcon {
      font-size: 1.8em;
      text-align: right;
      margin: 20px 0 30px 0; }
    body div.row.orders table thead th {
      color: green;
      background-color: white;
      border-right: 4px solid green; }
    body div.row.orders table tbody tr td {
      border-right: 4px solid white; }
      body div.row.orders table tbody tr td.last {
        border-right: none; }
  body section.info {
    padding: 20px;
    background-color: #5cb85c;
    text-align: center; }
    body section.info h2 {
      margin: 0;
      border-right: 4px solid white;
      min-height: 40px;
      line-height: 40px; }
    body section.info p {
      margin: 0;
      min-height: 40px;
      line-height: 40px; }
  body section.contact {
    background-color: #faa628; }
    body section.contact section.rightCol {
      padding: 20px 0; }
      body section.contact section.rightCol div.form-group input, body section.contact section.rightCol div.form-group textarea {
        border-color: #5cb85c; }
      body section.contact section.rightCol div.form-group h2.text-center {
        background-color: white;
        color: #5cb85c;
        box-sizing: border-box;
        padding: 10px;
        font-size: 2.4em;
        border: 2px solid #5cb85c; }
    body section.contact section.leftCol {
      padding: 20px; }
      body section.contact section.leftCol div#map {
        height: 350px;
        margin-top: 20px;
        border: 3px solid #5cb85c;
        border-radius: 10px; }
      body section.contact section.leftCol address {
        font-size: 1.6em; }
        body section.contact section.leftCol address p {
          margin: 20px; }
  body footer {
    background-color: #58595B;
    padding: 30px 0; }
    body footer div {
      min-height: 100px; }
      body footer div h2.footer-header {
        border-bottom: 2px solid white;
        padding: 10px;
        font-size: 1.5em; }
      body footer div ul.footer-list-right {
        margin-bottom: 30px;
        list-style-type: none; }
        body footer div ul.footer-list-right li:before {
          content: '\2022    '; }
        body footer div ul.footer-list-right li a {
          color: white; }
      body footer div ul.footer-list {
        list-style-type: none;
        margin: 20px 0;
        padding: 0;
        position: relative; }
        body footer div ul.footer-list li {
          position: absolute;
          font-size: 24px;
          top: 5px; }
          body footer div ul.footer-list li.glyphicon-phone {
            left: 0; }
          body footer div ul.footer-list li.fa-facebook {
            right: 0; }
          body footer div ul.footer-list li.glyphicon-envelope {
            left: 45%; }
    body footer div.rights {
      margin: 100px 0 10px 0;
      font-size: 1em; }

/*# sourceMappingURL=indexStyles.css.map */
