@import "mixins.scss";

$aColor: white;
$navbarColor: grey;
$jumbotronHeight: 725px;
$stripHeight: 63px;
$aboutUsHeight: 300px;
$h2Color: #faa628;
$h2size: 2.4em;
$sectionsColor: green;
$borderBottom: 10px solid #58595B;
.tableCells {
  width: 14%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.flexBox {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;

}

body {
  color: $aColor;
  font-size: 1.7em;
  div.scrollTop{
    display:none;
    cursor: pointer;
    position: fixed;
    width:50px;
    height: 50px;
    bottom:30px;
    right:10px;
    @include background-image('../img/arrowUp.png', cover, no-repeat);
    z-index: 99999;


  }
  nav.myNavbar {
    background-color: $navbarColor;
    margin-bottom: 0;
    height:84px;
    a.navbar-brand{
      margin: 10px 0 ;
      padding: 0;
      width:200px;
      height: 60px;
      img{
        width:100%;
        height: 100%;
      }
    }
    div.collapse {
      width: 70%;

      ul.myUl {
        padding: 10px;


        li {
          border: 2px solid $navbarColor;
          border-radius: 10px;
          &:hover{
            border:2px solid #faa628;
            background-color: #5cb85c;
          }



          a {
            padding: 20px;
            font-size: 1.8em;
            text-align: center;
            color: white;
          }

        }
      }
    }
  }
  div.jumbotron {
    height: $jumbotronHeight;
  }

  div.myStrip {
    height: $stripHeight;
    padding: 0;
    @include background-image('../img/strip.png', '', repeat-x);
  }

  div.myMiddle {
    padding: 0;
    text-align: center;
  }

  div.row {

    div.aboutUs {
      border-bottom: 5px solid #faa628;
      padding: 0;



      div.myRoadImage {
        min-height: $aboutUsHeight;
      }

      div.myRightBar {
        background-color: #00a551;
        min-height: $aboutUsHeight;
        @extend .flexBox;
        flex-direction: column;

        p.text-justify {
          text-indent: 1.5em;
        }

      }
    }
    div.myCategory {
      @extend .flexBox;
      min-height: 800px;

      div.modal{
        div.modal-content{
          background-color: #00a551;
        }
      }
      div.myColumn {
        box-sizing: border-box;
        padding: 25px 25px;
        margin: 20px 20px;
        min-height: 250px;

        background-color: $sectionsColor;

        h2 {
          margin: 0;
        }

        p.text-center {
          margin-bottom: 0;
          & :before {
            content: '';
            display: block;
            width: 99px;
            height: 122px;
            float: left;
            margin-right: 10px;
            @include background-image('../img/jablko.png', contain, no-repeat);
          }

        }
      }
    }

  }
  div.row {
    div.myMiddle {
      h2 {
        &.header-color{
          color: #5cb85c;
        }
        line-height: $stripHeight;
        color: $h2Color;
        margin: 0;
        font-size: $h2size;
      }

    }
  }
  div.row {

    div.myColumnOffer {
      @extend .flexBox;
      min-height: 600px;
      flex-wrap: wrap;


      div.myOfferItem {
        position: relative;
        width: 250px;
        height: 250px;
        margin: 20px;
        p{
          text-align: center;
          position: absolute;
          top:50%;
          left:50%;
          transform: translate(-50%,-50%);
        }


      }
      div.modal-content{
        background-color: #00a551;
      }
    }
  }
  div.row.orders {
    background-color: $sectionsColor;
    border-bottom: $borderBottom;
    padding: 20px 0;
    h2.text-center {
      margin: 0;
    }


      h2 {
        font-size: 1.8em;
        margin:20px 0 30px 0;

      }
      div.myIcon {
        font-size: 1.8em;
        text-align: right;
        margin:20px 0 30px 0;
      }

      table {
        thead {
          th {
            @extend .tableCells;
            color: $sectionsColor;
            background-color: $aColor;
            border-right: 4px solid $sectionsColor;
          }
        }
        tbody {

          tr {
            td {
              @extend .tableCells;
              border-right: 4px solid white;
              &.last{
                border-right: none;
              }
            }

          }
        }

      }


  }
  section.info{
    padding:20px;
    background-color: #5cb85c;
    text-align: center;
    @extend .flexBox;
    h2{
      margin:0;
      border-right:4px solid white;
      min-height: 40px;
      line-height: 40px;

    }
    p{
      margin: 0;
      min-height: 40px;
      line-height: 40px;
    }
  }
  section.contact{
    background-color: #faa628;
    section.rightCol{
     padding:20px 0;
    div.form-group{
      input, textarea{
        border-color: #5cb85c;
      }
      h2.text-center{
        background-color: white;
        color:#5cb85c;
        box-sizing: border-box;
        padding:10px;
        font-size: 2.4em;
        border: 2px solid #5cb85c;
      }
    }


    }
    section.leftCol{
      padding: 20px;
      div#map{
        height:350px;
        margin-top:20px;
        border: 3px solid #5cb85c;
        border-radius: 10px;
      }
      address{
      font-size:1.6em;
        p{
          margin:20px;

        }
      }
    }
  }
  footer{
    background-color: #58595B;
    padding:30px 0;
    div{
      min-height: 100px;
      h2.footer-header{
        border-bottom:2px solid white;
        padding: 10px;
        font-size: 1.5em;
      }
      ul.footer-list-right{
        margin-bottom: 30px;
        list-style-type: none;

        li{
          &:before{
            content: '\2022    ';

          }
          a{
            color:white;
          }
        }
      }
      ul.footer-list{
        list-style-type: none;
        margin:20px 0 ;
        padding:0;
        position:relative;
        li{

          position: absolute;
          font-size:24px;
          top:5px;
          &.glyphicon-phone{

            left:0;
          }
          &.fa-facebook{

            right:0;
          }
          &.glyphicon-envelope{

            left:45%;
          }
        }

      }
    }
    div.rights{
      margin:100px 0 10px 0 ;
      font-size: 1em;
    }
  }
}



