@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

}
@mixin background-image($url, $size, $repeat){
  background: url($url) $repeat;
  background-position: center center;
  background-size: $size;

}