@import "mixins.scss";

.boxes {
  padding: 40px 40px;
}

.itemBox {
  padding-bottom: 70%;
}

@mixin borderForCategory($borderColor, $borderFrame) {
  border: $borderFrame solid $borderColor;
}

$border-rame: 8px;

$border-top-color: #faa628;
$border-bottom-color: #90c938;
$border-right-color: white;
$heightToMyImage: 150px;
$marginBottom: 20px;
$bgColor: #808184;
body {
  background-color: $bgColor;
  display: none;
  align-items: center;

  section {
    position: relative;

    div.myJumbotron {
      @include background-image('../img/tlo.jpg', cover, no-repeat);
      padding-top: 0;
      padding-bottom: 0;
      overflow: hidden;
      border-top: $border-rame solid $border-top-color;
      border-bottom: $border-rame solid $border-bottom-color;
      margin-bottom: 0;
      box-sizing: border-box;

      div.myLeftBox {
        @extend .boxes;
        font-size: 1.4em;
        text-align: justify;
        border-right: $border-rame solid $border-right-color;
        background-color: rgba(0, 0, 0, 0.5);
        color: $border-right-color;
        div.myImage {
          @include background-image ('../img/logo.png', contain, no-repeat);
          background-size: contain;
          height: $heightToMyImage;
          margin-bottom: $marginBottom;
        }
      }
      div.myRightBox {
        display: -webkit-flex;
        align-items: center;
        justify-content: center;

        div.myItemBox {

          &.myfirst {
            margin-right: 20px;
            @include background-image('../img/dietetyk.png', cover, no-repeat);
          }
          &.mysecond {
            @include background-image('../img/psychotechnik.png', cover, no-repeat);
          }
          height: 250px;
          background-color: red;
          @include borderForCategory(white, 4px);

        }
      }
    }
  }
}

.myLeftBox {

  background-color: rgba(0, 8, 0, 0.2);
}