.boxes, body section div.myJumbotron div.myLeftBox {
  padding: 40px 40px; }

.itemBox {
  padding-bottom: 70%; }

body {
  background-color: #808184;
  display: none;
  align-items: center; }
  body section {
    position: relative; }
    body section div.myJumbotron {
      background: url("../img/tlo.jpg") no-repeat;
      background-position: center center;
      background-size: cover;
      padding-top: 0;
      padding-bottom: 0;
      overflow: hidden;
      border-top: 8px solid #faa628;
      border-bottom: 8px solid #90c938;
      margin-bottom: 0;
      box-sizing: border-box; }
      body section div.myJumbotron div.myLeftBox {
        font-size: 1.4em;
        text-align: justify;
        border-right: 8px solid white;
        background-color: rgba(0, 0, 0, 0.5);
        color: white; }
        body section div.myJumbotron div.myLeftBox div.myImage {
          background: url("../img/logo.png") no-repeat;
          background-position: center center;
          background-size: contain;
          background-size: contain;
          height: 150px;
          margin-bottom: 20px; }
      body section div.myJumbotron div.myRightBox {
        display: -webkit-flex;
        align-items: center;
        justify-content: center; }
        body section div.myJumbotron div.myRightBox div.myItemBox {
          height: 250px;
          background-color: red;
          border: 4px solid white; }
          body section div.myJumbotron div.myRightBox div.myItemBox.myfirst {
            margin-right: 20px;
            background: url("../img/dietetyk.png") no-repeat;
            background-position: center center;
            background-size: cover; }
          body section div.myJumbotron div.myRightBox div.myItemBox.mysecond {
            background: url("../img/psychotechnik.png") no-repeat;
            background-position: center center;
            background-size: cover; }

.myLeftBox {
  background-color: rgba(0, 8, 0, 0.2); }

/*# sourceMappingURL=psychoTechnicalStyles.css.map */
