@media screen and (min-width: 768px){
    div.jumbotron {
        padding-top: 0;
        padding-bottom: 0;
    }
}
@media screen and (max-width: 1200px){
    nav.myNavbar div.collapse ul.nav li a{
        font-size: 1em !important;

    }

    nav.myNavbar div.collapse{
        width:65% !important;
    }
    div.myMiddle h2 {
        font-size:1.6em !important;
    }

}
@media screen and (max-width: 768px){
    div.jumbotron{
        margin-top:0 !important;
    }
    div.myRightBox{
        display:block !important;
    }
    div.myItemBox.myfirst {
        margin-right: 0 !important;
    }


    div.myItemBox{
        height:180px !important;
    }
    section{


    }
    body{
        display: block !important;
    }
}

@media screen and (max-width: 1100px){
    div.myCategory {
        flex-direction: column !important;
    }
    address p{
        font-size:0.6em;
    }
    footer h2.footer-header{
        font-size: 1em !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1900px){
    div.aboutUs{
    display: flex;
    }
}

