<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panel Admina</title>
    <link rel="stylesheet" href="scss/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="scss/admniPanel.css">
    <script src="js/tinymce/tinymce.min.js"></script>


</head>
<body>
<div class="wrapper col-sm-4">


    <div class="col-sm-12">
        {% for element_h2 in element_h2 %}

        <div class="btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-pencil" data-toggle="modal" data-id="{{element_h2.getId()}}"
                  data-section="{{element_h2.getSection()}}" data-target="#modal-input"></span>
            <h2>{{element_h2.getValue()}}</h2>
        </div>
        {% endfor %}

        <span class="glyphicon glyphicon-plus-sign" data-toggle="modal" data-category="p-1" data-type="p"
              data-section="about_us" data-target="#modal-input-add"></span>
        {% for element in elementsP %}

        <div class="btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-pencil" data-toggle="modal" data-id="{{element.getId()}}"
                  data-section="{{element.getSection()}}" data-target="#modal-input"></span>
            <a href="?action=admin&adminPanel=remove&id={{element.getId()}}&section={{element.getSection()}}&table=elements">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
            <p class="text-center">{{element.getValue()}}</p>
        </div>

        {% endfor %}
        <span class="glyphicon glyphicon-plus-sign" data-toggle="modal" data-category="header-content-1"
              data-section="about_us" data-target="#modal-input-add-header-content"></span>
        {% for element in headerContent %}

        <div class="btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-pencil" data-toggle="modal" data-id="{{element.getId()}}"
                  data-section="{{element.getSection()}}" data-target="#modal-input-edit-header-content"></span>
            <a href="?action=admin&adminPanel=remove&id={{element.getId()}}&section={{element.getSection()}}&table=header_content">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
            <h3 class="text-center">{{element.getHeader()}}</h3>
            <p class="text-center">{{element.getContent()}}</p>
            <p class="text-center">{{element.getModal()}}</p>
        </div>

        {% endfor %}

        {%if imageCommunicate == 'Plik został przesłany poprawnie'%}
        {%set class = "alert alert-success" %}
        {%else%}
        {%set class = "alert alert-danger" %}
        {%endif%}

        <div class="{{class}}">{{imageCommunicate}}</div>

        <div class="btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-pencil" data-toggle="modal" data-id="{{photo[0].getId()}}"
                  data-section="{{photo[0].getSection()}}" data-target="#modal-input-add-image"></span>
            <div><img src="{{photo[0].getValue()}}" alt="photo"></div>
        </div>

        <div class="btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-pencil" data-toggle="modal" data-id="{{background[0].getId()}}"
                  data-section="{{background[0].getSection()}}" data-target="#modal-input-add-image"></span>
            <div><img src="{{background[0].getValue()}}" alt="background"></div>
        </div>

    </div>


    <a href="?action=admin&admin">Wstecz</a>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="modal-input-add-image">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Zmień obrazek</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <input type="file" name="image">
                            <input type="hidden" name="id">
                            <input type="hidden" name="table" value="elements">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <button type="submit"  class="btn btn-lg btn-block btn-success ">Zapisz</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="modal-input">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edytuj pole</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="" method="get">
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-8">
                            <input type="hidden" name="action" value="admin">
                            <input type="hidden" name="adminPanel" value="edit">
                            <input type="hidden" name="id">
                            <input type="hidden" name="table" value="elements">
                            <input type="hidden" name="section">
                            <input name="value" placeholder="edytuj treść"></input>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-8">
                            <button type="submit" class="btn btn-lg btn-block btn-success ">Zapisz</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="modal-input-add">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Dodaj Pole</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="" method="get">
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-8">
                            <input type="hidden" name="action" value="admin">
                            <input type="hidden" name="adminPanel" value="addContent">
                            <input type="hidden" name="type">
                            <input type="hidden" name="table" value="elements">
                            <input type="hidden" name="category">
                            <input type="hidden" name="section">
                            <textarea name="value" placeholder="edytuj treść"></textarea>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-8">
                            <button type="submit" class="btn btn-lg btn-block btn-success ">Zapisz</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" tabindex="-1" role="dialog" id="modal-input-add-header-content">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Dodaj Pole</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="" method="get">
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-8">
                            <input name="header" placeholder="edytuj nagłówek"></input>
                        </div>
                        <div class="col-sm-offset-3 col-sm-8">
                            <input type="hidden" name="action" value="admin">
                            <input type="hidden" name="id">
                            <input type="hidden" name="adminPanel" value="addContent">
                            <input type="hidden" name="table" value="header_content">
                            <input type="hidden" name="section">
                            <input type="hidden" name="category">
                            <textarea name="content" placeholder="edytuj treść"></textarea>
                            <p>Okno modalne</p>
                            <textarea name="modal"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-8">
                                <button type="submit" class="btn btn-lg btn-block btn-success ">Zapisz</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" tabindex="-1" role="dialog" id="modal-input-edit-header-content">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edytuj Pole</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="" method="get">
                    <div class="form-group">
                        <
                        <div class="col-sm-offset-3 col-sm-8">
                            <input name="header" placeholder="edytuj nagłówek"></input>
                        </div>
                        <div class="col-sm-offset-3 col-sm-8">
                            <input type="hidden" name="action" value="admin">
                            <input type="hidden" name="id">
                            <input type="hidden" name="adminPanel" value="edit">
                            <input type="hidden" name="table" value="header_content">
                            <input type="hidden" name="section">
                            <textarea name="content" placeholder="edytuj treść"></textarea>
                            <p>Okno modalne</p>
                            <textarea name="modal" placeholder="edytuj treść"></textarea>



                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-8">
                            <button type="submit" class="btn btn-lg btn-block btn-success ">Zapisz</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    tinymce.init({
        selector: 'textarea',
        resize: 'both',
        height: 500,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste code'
        ],
        toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        content_css: [
            '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
            '//www.tinymce.com/css/codepen.min.css'
        ]
    });
</script>
<script src="js/jQuery/jquery-1.11.1.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="js/my_scripts/modyficateAttr.js"></script>
<script src="js/my_scripts/tinymceConfig.js"></script>
</body>
</html>