<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panel Admina</title>
    <link rel="stylesheet" href="scss/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="scss/admniPanel.css">
    <link rel="stylesheet" href="scss/adminMainPage.css">
    <link rel="stylesheet" href="scss/adminFiles.css">


</head>
<body>
<div class="wrapper col-sm-10">

    <div class="alert alert-info col-sm-8">
        <h2 class="col-sm-12 text-center">Katalog Obrazków: </h2>
        <div id="list">
            <ul>
            {%for image in imageList%}
                <li>
                    <div class="col-sm-3 text-center">
                        <div>
                            <a href="?action=admin&adminPanel=removeFile&fileName={{image}}">

                                <button type="button" class="btn btn-primary">Usuń obrazek
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </a>
                        </div>
                        <img class="image" src="{{image}}" alt="{{image}}">
                        <p>{{image}}</p>
                    </div>


                </li>
            {%endfor%}
            </ul>
        </div>


    </div>




    <div class="col-sm-offset-1 col-sm-3">
        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#modal-input-add-image">Dodaj Obrazek</button>
    </div>
    <div class="back">
        <a href="?action=admin&admin">Wstecz</a>
    </div>

    {%if imageValidation['flag'] == 'true'%}
    {%set class = "alert alert-success" %}
    {%elseif imageValidation['flag'] =='false'%}
    {%set class = "alert alert-danger" %}
    {%endif%}

    <div class="{{class}} col-sm-offset-1 col-sm-3">{{imageValidation['imageCommunicate']}}</div>




    <div class="modal fade" tabindex="-1" role="dialog" id="modal-input-add-image">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Dodaj obrazek</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-8">
                                <input type="file" name="image">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-8">
                                <button type="submit" class="btn btn-lg btn-block btn-success ">Zapisz</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <script src="js/jQuery/jquery-1.11.1.js"></script>


    <script src="js/bootstrap/bootstrap.min.js"></script>
</div>
</div>
</body>
</html>