<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panel admina</title>
    <link rel="stylesheet" href="scss/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="scss/admniPanel.css">

</head>
<body>
<div class="wrapper col-sm-4">

        <div class="row">

            <form class="form-horizontal" method="post" action="?action=admin">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <input type="text" class="form-control" name="login" value="{{login}}" placeholder="login">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <input type="password" class="form-control" name="password" placeholder="hasło">
                    </div>
                </div>

                    <div class="col-sm-offset-2 col-sm-8">
                        <button type="submit" class="btn btn-lg btn-block btn-success ">Zaloguj</button>
                    </div>

            </form>
        </div>
        <div class="form-group">

            <p class="text-center alert-danger">{{logged_error}}</p>

        </div>

    </div>
</body>
</html>