<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panel Admina</title>
    <link rel="stylesheet" href="scss/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="scss/admniPanel.css">


</head>
<body>
<div class="wrapper col-sm-4">


    <div class="col-sm-12">
        {% for header in elementHeaders %}

        <div class="btn btn-primary btn-lg btn-block" >
            <span class="glyphicon glyphicon-pencil" data-toggle="modal" data-id="{{header.getId()}}"  data-section="{{header.getSection()}}" data-target="#modal-input"></span>
            <h2>{{header.getValue()}}</h2>
        </div>
        {% endfor %}

        {% for element_p in elements_p %}

        <div class="btn btn-primary btn-lg btn-block" >
            <span class="glyphicon glyphicon-pencil" data-toggle="modal" data-id="{{element_p.getId()}}"  data-section="{{element_p.getSection()}}" data-target="#modal-input"></span>
            <p>{{element_p.getValue()}}</p>
        </div>

        {% endfor %}


    </div>



    <a href="?action=admin&admin">Wstecz</a>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modal-input">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edytuj pole</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="" method="get">
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-8">
                            <input type="hidden" name="action" value="admin">
                            <input type="hidden" name="adminPanel" value="edit">
                            <input type="hidden" name="id">
                            <input type="hidden" name="section">
                            <input type="hidden" name="table" value="elements">
                            <input name="value" placeholder="edytuj treść">

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-8">
                            <button type="submit" class="btn btn-lg btn-block btn-success ">Zapisz</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script src="js/jQuery/jquery-1.11.1.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="js/my_scripts/modyficateAttr.js"></script>
</body>
</html>