<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panel Admina</title>
    <link rel="stylesheet" href="scss/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="scss/admniPanel.css">
    <script src="js/jQuery/jquery-3.1.0.min.js"></script>


</head>
<body>

<div class="wrapper col-sm-4">


    <div class="col-sm-12">

        {%if flag == "true"%}
        {%set class = "alert alert-success" %}
        {%elseif flag == "false"%}
        {%set class = "alert alert-danger" %}
        {%endif%}

        <div class="{{class}}">{{imageCommunicate}}</div>
        <div type="button" class="btn btn-primary btn-lg btn-block">


            <span class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#modal-input-add-image"
                  data-id="{{jumbotron[0].getId()}}"></span>
            <div>
                <img src="{{jumbotron[0].getValue()}}" alt="Jumbotron">
            </div>
        </div>


    </div>


    <a href="?action=admin&admin">Wstecz</a>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal-input-add-image">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Dodaj obrazek</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <input type="file" name="image">
                            <input type="hidden" name="id">
                            <input type="hidden" name="table" value="elements">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <button type="submit" data-target="#modal-input" class="btn btn-lg btn-block btn-success ">
                                Zapisz
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script src="js/jQuery/jquery-1.11.1.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="js/my_scripts/modyficateAttr.js"></script>
</body>
</html>