<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panel Admina</title>
    <link rel="stylesheet" href="scss/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="scss/admniPanel.css">
    <link rel="stylesheet" href="scss/adminMainPage.css">
</head>
<body>
<div class="wrapper col-sm-10">
    <div class="column col-sm-6">
        <h2 class="col-sm-12 text-center">Twoje sekcje na stronie: </h2>
        {% for section in sections %}


        <div class="col-sm-12">

            <a href="{{section.getLink()}}">
                <button type="button" class="btn btn-primary btn-lg btn-block">{{section.getName()}}</button>
            </a>
        </div>

        {% endfor %}
    </div>
    <div class="column col-sm-6">
        <h2 class="col-sm-12 text-center">Dodatkowe opcje: </h2>


        <a href="?action=admin&adminPanel=getImages">
            <button type="button" class="btn btn-primary btn-lg btn-block">Lista obrazków</button>
        </a>
        <a href="?action=admin&adminPanel=getFiles">
            <button type="button" class="btn btn-primary btn-lg btn-block">Lista Plików</button>
        </a>
        <a href="?action=admin&adminPanel=logout">
            <button type="button" class="btn btn-primary btn-lg btn-block">Wyloguj się</button>
        </a>
    </div>




    </div>
</div>
</body>
</html>