<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panel Admina</title>
    <link rel="stylesheet" href="scss/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="scss/admniPanel.css">
    <script src="js/jQuery/jquery-3.1.0.min.js"></script>



</head>
<body>

<div class="wrapper col-sm-4">


    <div class="col-sm-12">

        <h2 class="text-center">HEADER</h2>
     <!---   <span class="glyphicon glyphicon-plus-sign" data-toggle="modal" data-category="li-1" data-type="li" data-section="header" data-target="#modal-input-add"></span>  --->
        {% for li in lis %}
        <button type="button" class="btn btn-primary btn-lg btn-block" >
            <span class="glyphicon glyphicon-pencil" data-toggle="modal" data-id="{{li.getId()}}"  data-section="{{li.getSection()}}" data-target="#modal-input"></span>
            <!---     <a href="?action=admin&adminPanel=remove&id={{li.getId()}}&section={{li.getSection()}}&table=elements">
                   <span class="glyphicon glyphicon-remove"></span>
               </a> -->
               <p>{{li.getValue()}}</p>
               <div id="test"></div>
           </button>


           {% endfor %}


           {% for image  in images %}

           <button type="button"  class="btn btn-primary btn-lg btn-block">

               {%if imageValidation['flag'] == 'true'%}
                   {%set class = "alert alert-success" %}
               {%elseif imageValidation['flag'] =='false'%}
                   {%set class = "alert alert-danger" %}
               {%endif%}
               <div class="{{class}}">{{imageValidation['imageCommunicate']}}</div>

               <span class="glyphicon glyphicon-pencil"  data-toggle="modal" data-target="#modal-input-add-image" data-id="{{image.getId()}}"></span>
               <div><img  src="{{image.getValue()}}" alt="Brand"></div>
           </button>

           {% endfor %}

       </div>



       <a href="?action=admin&admin">Wstecz</a>
   </div>

   <div class="modal fade" tabindex="-1" role="dialog" id="modal-input-add-image">
       <div class="modal-dialog" role="document">
           <div class="modal-content">
               <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   <h4 class="modal-title">Dodaj obrazek</h4>
               </div>
               <div class="modal-body">
                   <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                       <div class="form-group">
                           <div class="col-sm-offset-2 col-sm-8">
                               <input type="file" name="image">
                               <input type="hidden" name="id">
                               <input type="hidden" name="table" value="header_content">
                           </div>
                       </div>
                       <div class="form-group">
                           <div class="col-sm-offset-2 col-sm-8">
                               <button type="submit" data-target="#modal-input" class="btn btn-lg btn-block btn-success ">Zapisz</button>
                           </div>
                       </div>
                   </form>
               </div>
               <div class="modal-footer">
                   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               </div>
           </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="modal-input">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edytuj pole</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="" method="get">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <input type="hidden" name="action" value="admin">
                            <input type="hidden" name="adminPanel" value="edit">
                            <input type="hidden" name="id">
                            <input type="hidden" name="table" value="elements">
                            <input type="hidden" name="section">
                            <input name="value" class="form-control" placeholder="edytuj">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <button type="submit" data-target="#modal-input" class="btn btn-lg btn-block btn-success ">Zapisz</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--
<div class="modal fade" tabindex="-1" role="dialog" id="modal-input-add">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Dodaj Pole</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="" method="get">
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-8">
                            <input type="hidden" name="action" value="admin">
                            <input type="hidden" name="adminPanel" value="addContent">
                            <input type="hidden" name="type">
                            <input type="hidden" name="table" value="elements">
                            <input type="hidden" name="category">
                            <input type="hidden" name="section">
                            <input type="text" name="value" class="form-control" placeholder="dodaj treść">

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-8">
                            <button type="submit" data-target="#modal-input-add" class="btn btn-lg btn-block btn-success ">Zapisz</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

-->

<script src="js/jQuery/jquery-1.11.1.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="js/my_scripts/modyficateAttr.js"></script>
</body>
</html>