<!DOCTYPE html>

<html lang="pl">
<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="scss/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="scss/myMedia/media.css">
    <link rel="stylesheet" href="scss/indexStyles.css">
    <link rel="stylesheet" href="scss/animate/animation.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">


</head>
<body>
<div class="scrollTop pulse"></div>
<div class="container-fluid">

    <div class="row">

        <nav class="navbar navbar-default myNavbar">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand hidden-xs" href="#">
                        <img  src="{% for img in brand %} {{img.getValue()}} {% endfor %}" alt="Brand">
                    </a>


                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav myUl navbar-right">
                        {% for li in navbar %}
                        <li><a href="#nav-bar-{{li.getId()}}">{{li.getValue()}}</a></li>
                        {% endfor %}

                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    </div>
    <div class="row">
        <div class="jumbotron visible-md-block visible-lg-block"
             style="background: url('{{jumbotron[0].getValue}}') no-repeat center center;background-size: cover;">

        </div>
    </div>
    <div class="row" id="aboutUs">
        <div class="col-sm-4 myStrip"></div>
        <div class="col-sm-4 myMiddle"><h2> {% for sentence in aboutUsSentence %} {{sentence.getValue()}} {% endfor
            %}</h2></div>
        <div class="col-sm-4 myStrip"></div>
    </div>
    <div class="row">
        <div class="col-sm-12 aboutUs">
            <div class="col-sm-3 myRoadImage" style="background: url('{{aboutUsPhoto[0].getValue}}') no-repeat center center;background-size: contain;">

            </div>
            <div class="col-sm-9 myRightBar">

                {% for paragraph in aboutUsParagraphs %}
                <p class="text-justify">{{paragraph.getValue()}}</p>
                {% endfor %}

            </div>
        </div>
        <div class="col-sm-12 myCategory" style="background: url('{{aboutUsBackground[0].getValue}}') no-repeat center center;background-size: cover;">>
            {% for modal in aboutUsModals %}
            <div class="col-sm-12 col-lg-4 myColumn pulse" id="about_us_{{modal.getId()}}" data-target="#about_us_modal{{modal.getId()}}"
                 data-toggle="modal">
                <h2 class="text-center">{{modal.getHeader()}}</h2>
                <hr>
                <p class="text-center">{{modal.getContent()}}</p>
            </div>

            <div class="modal fade" tabindex="-1" role="dialog" id="about_us_modal{{modal.getId()}}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">{{modal.getHeader()}}</h4>
                        </div>
                        <div class="modal-body">
                            {{modal.getModal()}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            {% endfor %}

        </div>
    </div>
    <div class="row" id="offer">
        <div class="col-sm-4 myStrip"></div>
        <div class="col-sm-4 myMiddle">
            <h2 class="header-color">{% for sentence in offerSentence %} {{sentence.getValue()}} {% endfor %}</h2>
        </div>
        <div class="col-sm-4 myStrip"></div>
    </div>
    <div class="row">
        <div class="myColumnOffer col-sm-12" style="background: url('{{offerBackground[0].getValue}}') no-repeat center center;background-size: cover; background-attachment: fixed;">
            {% for element in offer %}

            <div class="myOfferItem item3 pulse" style="background: url('../{{element.getContent()}}') no-repeat center center; background-size: contain;" data-toggle="modal"
                 id="offer_{{element.getId()}}" data-target="#offer_modal_{{element.getId()}}">
                <p>{{element.getHeader()}}</p>
            </div>

            <div class="modal fade" tabindex="-1" role="dialog" id="offer_modal_{{element.getId()}}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">{{element.getHeader()}}</h4>
                        </div>
                        <div class="modal-body">
                            {{element.getModal}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            {% endfor %}

        </div>
    </div>
    <div class="row orders hidden-xs" id="visit">
        <div class="col-sm-12">
            <h2 class="text-center">Umów wizytę przez internet</h2>
            <hr>
        </div>

        <h2 class="col-sm-11">Sierpień 2016</h2>
        <div class="col-lg-1 glyphicon glyphicon-menu-right myIcon"></div>


        <div class="col-sm-12">
            <table class="col-sm-12">
                <thead>
                <tr>
                    <th>Poniedziałek</th>
                    <th>Wtorek</th>
                    <th>Środa</th>
                    <th>Czwartek</th>
                    <th>Piątek</th>
                    <th>Sobota</th>
                    <th>Niedziela</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>17:00</td>
                    <td>18:00</td>
                    <td>18:00</td>
                    <td>17:00</td>
                    <td>18:00</td>
                    <td>18:00</td>
                    <td class="last">18:00</td>

                </tr>
                <tr>
                    <td>17:00</td>
                    <td>18:00</td>
                    <td>18:00</td>
                    <td>17:00</td>
                    <td>18:00</td>
                    <td>18:00</td>
                    <td class="last">18:00</td>
                </tr>
                <tr>
                    <td>17:00</td>
                    <td>18:00</td>
                    <td>18:00</td>
                    <td>17:00</td>
                    <td>18:00</td>
                    <td>18:00</td>
                    <td class="last">18:00</td>
                </tr>
                <tr>
                    <td>17:00</td>
                    <td>18:00</td>
                    <td>18:00</td>
                    <td>17:00</td>
                    <td>18:00</td>
                    <td>18:00</td>
                    <td class="last">18:00</td>
                </tr>

                </tbody>
            </table>

        </div>

    </div>
    <section class="row info" id="contact">

        <p class="col-sm-8">
            {% for sentence in contactSentence %}
            {{sentence.getValue()}}
            {%endfor%}
        </p>


    </section>
    <section class="row contact">
        <section class="col-sm-6 leftCol">

            <div class="col-sm-offset-1 col-sm-9" id="map"></div>
            <address class="col-sm-offset-1 col-sm-11">


                <p><span class="glyphicon glyphicon-map-marker"></span>
                    {% for sentence in contactAddress %} {{sentence.getValue()}} {%endfor %}
                </p>

                <p class="phoneNumber">
                    <span class="glyphicon glyphicon-phone"></span>
                    {% for sentence in contactPhone %} {{sentence.getValue()}} {%endfor %}
                </p>

                <p class="e-mail"><span class="glyphicon glyphicon-envelope"></span>
                    {% for sentence in contactEmail %} {{sentence.getValue()}} {%endfor %}
                </p>

                <p class="facebook"><span class="fa fa-facebook"></span>
                    {% for sentence in contactFacebook %} {{sentence.getValue()}} {%endfor %}
                </p>
            </address>


        </section>
        <section class="col-sm-6 rightCol">
            <form class="form-horizontal">


                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-8">
                        <h2 class="text-center">{% for sentence in contactHeader %} {{sentence.getValue()}} {%endfor
                            %}</h2>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-8">
                        <input type="text" class="form-control" placeholder="Imię">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-8">
                        <input type="text" class="form-control" placeholder="Nazwisko">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-8">
                        <input type="text" class="form-control" placeholder="Telefon">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-8">
                        <input type="email" class="form-control" placeholder="E-mail">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-8">
                        <textarea class="form-control" rows="10" placeholder="Twoja wiadomość..."></textarea>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-8">
                        <button type="submit" class="btn btn-lg btn-block btn-success ">Wyślij</button>
                    </div>
                </div>
            </form>
        </section>
    </section>
    <footer class="row myFooter">


        <div class="col-sm-offset-1 col-sm-4">

            <h2 class=" text-center footer-header  col-sm-11">
                {% for sentence in footerHeaderOffer %} {{sentence.getValue()}} {%endfor %}
            </h2>

            <ul class="footer-list-right  col-sm-12 ">
                {% for element in offer %}
                <li class="col-sm-6 footer-list">
                    <a href="#offer">{{element.getHeader()}}</a>
                </li>
                {% endfor %}

            </ul>


        </div>
        <div class="col-sm-offset-4 col-sm-2">
            <h2 class="footer-header text-center">
                {% for sentence in footerHeaderContact %} {{sentence.getValue()}} {%endfor %}
            </h2>
            <ul class="footer-list">
                <li class="glyphicon glyphicon-phone animationSwingIcon"></li>
                <li class="glyphicon glyphicon-envelope animationSwingIcon"></li>
                <li class="fa fa-facebook  text-right animationSwingIcon"></li>
            </ul>
        </div>
        <div class="col-sm-12 rights text-center">
            {% for sentence in footerCopyright %} {{sentence.getValue()}} {%endfor %}
        </div>
    </footer>

</div>
<script>
    function initMap() {
        var myLat = {lat: 54.528015, lng: 17.764345};
        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
            center: myLat,
            scrollwheel: false,
            zoom: 11
        });
        var marker = new google.maps.Marker({
            position: myLat,
            map: map,
            title: 'Hello World!'
        });

    }

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="js/my_scripts/scroll.js"></script>
<script src="js/my_scripts/ajaxQuery.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhIw4Dtq92zi9JTgEVJrdqmDY7gSE8hHI&callback=initMap"
        async defer></script>

</body>
</html>
